body {
  background: rgb(50, 136, 175);
  font: normal 25px arial;
}

header {
  color: rgb(255, 255, 255);
  text-align: center;
}

section {
  background: whitesmoke;
  border-radius: 10px;
  padding: 15px;
  width: 600px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
  
}

div, #resP {
  text-align: center;
  padding: 8px;
}

footer {
  color: whitesmoke;
  text-align: center;
  font-style: italic;
}


